.App {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.select {
  max-width: 150px;
}

select {
  margin: 1em;
}

.truck-camper {
  width: 100px;
    height: 50px;
    border: 1px solid black;
    margin-left: 17px;
    margin-top: -13px;
    position: fixed;

}

.van-camper {
  width: 100px;
    height: 50px;
    border: 1px solid black;
    margin-left: 119px;
    margin-top: -30px;
    position: fixed;

}

th, td {
  padding: .5em;
}
